.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 70vh;
  height: 70vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 10vh;
}

.winner {
  background-color: green;
}

.result-text {
  font-size: 5vh;
  margin-bottom: 15px;
  color: white;
}